<!-- About Section -->
<section class="site-section about-section next-section-indicator" id="about">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.about-title }}</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>
        We believe the rapid growth of neurotech is constrained by inefficiencies in surgical tools and techniques.  
        By advancing precision and efficiency in neurosurgical tools, we can accelerate the adoption of next generation therapies, improve patient outcomes, and increase surgical capacity.
      </p>

      <p>
        Our mission is to redefine neuro-intervention by delivering tools that enable safer, faster, and more scalable brain surgeries, improving patient lives while addressing global surgical demands and unlocking a new era of highly targeted neuro therapies.
      </p>

      <p style="margin-bottom:0.5cm;">
        See how our imaging platform illuminates the complexities of brain surgery by revealing anatomy with unparalleled precision. Explore the transformative potential through the animation below:
      </p>
      </div>

      <video controls width="100%" poster="cm_video_thumbnail.png">
        <source src="{{ site.baseurl }}/images/cm_video.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>

      <br>
      <br>

      <video controls width="100%" poster="venture_video_thumbnail.png">
        <source src="{{ site.baseurl }}/images/venture_video.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>

    </div>

  </div>
</section>
