<!-- About Section -->
<section class="site-section about-section next-section-indicator" id="about">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.about-title }}</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p style="margin-bottom:0.5cm;">{{ site.about-description }}</p>
      </div>

      <div class="video-container">  
        <iframe width="720" height="405" src="https://www.youtube.com/embed/EHjl7FYBw8A?si=g-Q_aEakceQzrOx_?controls=1&loop=1&playsinline=1" title="Our OCT technology" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>

    </div>

  </div>
</section>
