<!-- Contact Section -->
<section class="site-section contact-section next-section-indicator parallax" id="contact" data-scrollax-parent="true">

  <!-- Parallax Contact Image -->
  <div class="cover" data-scrollax="properties: { 'translateY': '48%' }">
    <img src="{{ site.baseurl }}/images/team.jpg" alt="Clee Medical" />
  </div>

  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.contact-title }}</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>{{ site.contact-description }}</p>
      </div>

    </div>

    <!-- Form Container -->
    <div class="row form-container">

      <!-- Contact Form -->
      <div class="col-md-8 col-md-push-2">
        <form id="sera-contact-form" action="https://formspree.io/f/xvgoqnrd" method="POST"
          class="contact-form container-fluid">
          <div class="col-md-6">
            <input type="text" name="name" placeholder="Name" />
          </div>
          <div class="col-md-6">
            <input type="text" name="website" placeholder="Website" />
          </div>
          <div class="col-md-6">
            <input type="text" name="email" placeholder="Email" />
          </div>
          <div class="col-md-6">
            <input type="text" name="subject" placeholder="Subject" />
          </div>
          <div class="col-md-12">
            <textarea name="message" rows="8" cols="40" placeholder="Message"></textarea>
          </div>
          <div class="col-md-12 form-action">
            <button type="submit" class="send-button">Send Message</button>
          </div>
        </form>
      </div>

    </div>

  </div>
</section>

<iframe width="425" height="350" src="https://www.openstreetmap.org/export/embed.html?bbox=6.078271865844727%2C46.19498269614257%2C6.216287612915039%2C46.248665395866226&amp;layer=mapnik&amp;marker=46.22183060721976%2C6.147279739379883" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=46.22183&amp;mlon=6.14728#map=14/46.22183/6.14728">Afficher une carte plus grande</a></small>
