<!-- Site Head -->
<head>
  <meta charset="utf-8" />
  <title>{{ page.title | strip_html }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/png" href="/website/images/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/website/images/favicon.svg" />
  <link rel="shortcut icon" href="/website/images/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/website/images/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="Clee Medical" />
  <link rel="manifest" href="/website/images/site.webmanifest" />
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">

  <!-- Importing Styles -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
</head>
