/**
 *
 *  About Section Style
 *
 *  @package ohkimur_layout
 *
 **/

// Silence is golden.

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%; /* Restrict the width to the parent container */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Make the iframe scale with the container */
  height: 100%;
  max-width: 100%; /* Add this to prevent oversized iframes */
}

@media (max-width: 600px) {
  .video-container {
    padding-bottom: 75%; /* Adjust for a taller ratio if preferred on narrow screens */
  }
}