/**
 *
 *  Footer Style
 *
 *  @package ohkimur_layout
 *
 **/

footer.site-footer {
  position: relative;
  color: $footer-color;
  background-color: $footer-background-color;
  width: 100%;

  // Footer Information
  .footer-info {
    padding: 10px 0;

    .footer-logo {
      position: relative;
      padding: 20px 0;

      img {
        margin: 0 auto;
      }
    }

    .footer-info-text {
      font-size: 0.875rem;
      padding: 20px 0;
    }

    // Social Media Icons
    .social-icons {
      a  {
        color: $global-text;

        &:hover,
        &:active {
          color: $primary;
        }
      }
    }
  }

  // Footer Copyright
  .footer-copyright {
    font-size: 0.8125rem;
    border-top: 1px solid $normal-gray;
    padding: 20px 0;

    .footer-text {
      width: 100%;
    }
  }

  .footer-logo-address {
  display: flex;               /* Use flexbox to align items side by side */
  align-items: center;         /* Vertically center the logo and address */
  justify-content: center;     /* Center the whole block horizontally */
  gap: 40px;                   /* Add some spacing between the logo and address */
}

.footer-address {
  text-align: left;            /* Align text of the address to the left */
  font-size: 14px;             /* Adjust font size as needed */
  line-height: 1.5;            /* Improve readability */
}

}
