section.partners-section {
  position: relative;
  padding-bottom: 50px;
  color: $light-blue;

  // Section Header
  header.section-header {
    h2, h3, h4 {
      color: $black;
    }

    hr {
      background: $white;
    }
  }

  // Cover Div Styling
  .cover {
    width: 100%;               /* Full width */
    overflow: hidden;          /* Ensure no overflow if image doesn't fit perfectly */
    
    img {
      width: 100%;             /* Image spans full width of container */
      height: auto;            /* Height adapts automatically to maintain aspect ratio */
      display: block;          /* Avoid inline element spacing issues */
    }
  }
}