/**
 *
 *  Partners Section Style
 *
 *  @package ohkimur_layout
 *
 **/

section.partners-section {
  position: relative;
  padding-bottom: 50px;
  color: $light-blue;

  // Section Header
  header.section-header {
    h2, h3, h4 {
      color: $black;
    }

    hr {
      background: $white;
    }
  }

  // Cover Image Styling
  .cover img {
    width: 100%;            /* Set the image width to cover the container */
    height: 100%;           /* Set the height to match the container */
    object-fit: cover;      /* Ensures the image maintains its aspect ratio */
    object-position: center; /* Centers the image within the div */
  }
}