<!DOCTYPE html >
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGD23PLT"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Page Loader -->
    <div id="page-loader" class="page-loader"><span class="load-icon"></span></div>

    {% include header-page.html %}

    <!-- Page Section -->
    <section class="site-section blog-section page-layout" id="start">
      <div class="container">

        <!-- Page Layout -->
        <div class="row">

          <!-- Sidebar -->
          <div class="col-md-4 hidden-xs hidden-sm">

            {% include sidebar.html %}

          </div>

          <!-- Content -->
          <div class="col-md-8 blog-articles-container">

            {{ content }}

          </div>

        </div>

      </div>
    </section>

    {% include footer.html %}

    {% include scripts.html %}

  </body>

</html>
